{{#partial "content"}}
    <h2>CURRENT HEROES</h2>
    <a id="btns" class="btns btn-primary" href="/hero-form" >Create Another Hero</a>
    <a id="btns" href="/heroes/delete" class="btns btn-danger">Delete All Heroes</a>
    <div class="container">
    {{#each hero}}
        <div class="heroes-item">
            <div class="card-body">
                <i class="bi bi-pin-angle-fill"></i>
                <h5 class="card-title">{{name}}</h5>
                <hr>
                <ul class="card-text">
                    <li>Age: {{age}}</li>
                    <li>Power: {{power}}</li>
                    <li>Weakness: {{weakness}}</li>
                    <li>Id: {{ id }}</li>
                </ul>
                <i class="bi bi-trash"></i><a href="/heroes/delete"><button class="btns btn-info">Delete Hero</button></a>
                <a  id="btns" class="btns btn-primary" href="/squads/new" >Add Squad</a>
            </div>
        </div>

    {{/each}}
    </div>

{{/partial}}

{{> layout.hbs}}