{{#partial "content"}}
    <h2>CURRENT HEROES</h2>
    <p> <a class="btns" href="/hero-form" >Create Another Hero</a></p>
    <div class="container">
    {{#each hero}}
        <div class="heroes-item">
            <div class="card-body">
                <i class="bi bi-pin-angle-fill"></i>
                <h5 class="card-title">{{name}}</h5>
                <hr>
                <ul class="card-text">
                    <li>Age: {{age}}</li>
                    <li>Power: {{power}}</li>
                    <li>Weakness: {{weakness}}</li>
                </ul>
                <i class="bi bi-trash"></i><a href="/heroes/{{id}}/delete"><button class="btn-info">Delete Hero</button></a>
            </div>
        </div>

    {{/each}}
    </div>

{{/partial}}

{{> layout.hbs}}