{{#partial "content"}}
    <h2>CURRENT HEROES</h2>
    <div class="container">
        {{#each squad}}
            <div class="hero-item">
                <div class="card-body">
                    <img src="https://icon-library.com/images/380874-200_52458.png" alt="">
                    <h5 class="card-title">{{name}}</h5>
                    <hr>
                    <ul class="card-text">
                        <li>Cause: {{cause}}</li>
                        <li>Maximum heroes: {{maxSize}}</li>
                        <li>Current heroes: {{maxSize}}</li>
                        <li>Created on:</li>
                    </ul>
                    <a href="/squads/{{id}}"><button class="btn-info">View Squad Heroes</button></a>
                </div>
            </div>

        {{/each}}
        <a href="/heroes/delete"><button class="btn-info">Delete All Heroes</button></a>
    </div>

{{/partial}}

{{> layout.hbs}}