{{#partial "content"}}
    <h2>CURRENT SQUADS</h2>
    <p> <a class="btns" href="/squad-form" >Create Squad</a></p>
    <div class="container">
        {{#each squad}}
            <div class="hero-item">
                <div class="card-body">
                    <i class="bi bi-layers"></i>
                    <h5 class="card-title">{{name}}</h5>
                    <hr>
                    <ul class="card-text">
                        <li>Cause: {{cause}}</li>
                        <li>Maximum heroes: {{maxSize}}</li>
                        <li>Current heroes: {{maxSize}}</li>
                    </ul>
                    <a href="/squads/{{id}}"><button class="btn-info">View Squad Heroes</button></a>
                </div>
            </div>

        {{/each}}
<!--        <a href="/squad/delete"><button class="btn-info">Delete All Squad</button></a>-->
    </div>

{{/partial}}

{{> layout.hbs}}